body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}
h1,button {
  font-family: 'Cookie', cursive;
  font-size: 60px;
}
.fa-cloud{
  font-size:200px;
  color: pink;
}
.w3-bar{
  font-family: 'Comfortaa', cursive;
}
